body {
    font-family: sans-serif;
}

ul, li {
    margin:0; padding: 0;
}

.hide {
    display: none;
}

.pagination {
    top:40px;
    overflow: hidden;
    padding:10px;
}

.prev, .next {
    padding:5px;
    margin: 5px 0;
}

.prev:before {
    content:"\2190";
    padding-right: 5px;
}

.next:after {
    content:"\2192";
    padding-left:5px;
} 

.pagination ul {
    list-style:none;
    padding: 7px 0;
}

.pagination li {
    float:left;
    margin:0 3px;
}

.pagination li a {
    padding:3px;
    text-decoration: none;
}

.pagination .active {
    background: #09c;
    padding: 3px;
    color: #fff;
}