body {
    font-family: sans-serif;
}

.hide {
    display: none;
}

.pagination {
    margin-top:40px;    
}

.pagination ul {
    list-style:none;
}

.pagination li {
    float:left;
    margin:0 3px;
}

.pagination li a {
    padding:3px;
    text-decoration: none;
}

.pagination .active {
    background: #09c;
    padding: 3px;
    color: #fff;
}